.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 30px; */
    padding-top: 30px;

    color: black;
	  margin-bottom: 15px;
    font-size: 30px;
    text-decoration: none;
}

.Menu .active
{
    color: royalblue;
    border-bottom: 3px solid royalblue;
  font-weight: 700;
  font-size: xx-large;
  text-decoration: dashed;
}

.Menu>* {
    margin: 10px;

}

.Menu a {
    font-weight: 300;
    text-decoration: none;
}

.Menu a:hover {
    font-weight: 700;
    text-decoration: underline;
}